---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Data strucutre and Algorithims">
  <main>
    <h1>Data Structure and Algorithims Study</h1>
    <h2>Favourite Resources</h2>
    <ul>
      <li>
        <a href="https://github.com/jwasham/coding-interview-university"
          >jwasham Coding interview university</a
        >
      </li>
      <li>
        <a href="https://neetcode.io/">Neetcode.io</a>
      </li>
    </ul>

    <h2>Data Structures</h2>
    <ul>
      <li ><a href="arrays/">Arrays</a></li>
    </ul>
  </main></Layout
>
