---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
    <h1>Hashing Problems</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Soulion Link</th>
          <th>Leetcode Link</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>217. Contains Duplicate</td>
          <td><a href="/arrays/hashing/containsDuplicate">Solution</a></td>
          <td>something</td>
        <tr>
      </tbody>
    </table>
	</main>
</Layout>

<style>
td {
    border: 1px solid #000;
}

tr td:last-child {
    max-width: 100%;
    white-space: nowrap;
}
</style>

