---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
    <h1>Arrays</h1>
    <ul>
      <li>Contiguos in moemory</li>
      <li>2D or #D arrays is just a flat 1d array in memory</li>
    </ul>
	</main>
</Layout>

